.main {
  height: 100vh;
  background-color: #252527;
  display: flex;
  justify-content: center;
}

.mainContainer {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10%;
}

.skills {
  width: 100%;
  height: 20%;
  border: 1px solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: ;

}
.title {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.2;
  letter-spacing: 5px;
  font-weight: 200;

}

.titleLine {
  height: 3px;
  width: 75px;
  background-color: #466cff;
}


.skill_2 {
  width: 30%;
  height: 75%;
  border: 1px solid;

}

.skill_3 {
  width: 30%;
  height: 75%;
  border: 1px solid;
}

@media screen and (max-width: 1128px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
  }
}
