.skillsBlock {
  min-height: 700px;
  background-color: #252527;
  display: flex;
  justify-content: center;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 80%;
}

.skills {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.2;
  letter-spacing: 5px;
  font-weight: 200;

}

.titleLine {
  height: 3px;
  width: 75px;
  background-color: #466cff;
}

.skill_2 {
  width: 30%;
  height: 75%;
  border: 1px solid;

}

.skill_3 {
  width: 30%;
  height: 75%;
  border: 1px solid;
}

/*
@media screen and (max-width: 1128px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
  }
}
*/

