.main {
  height: 100vh;
  background-color: darkgrey;
  justify-content: center;
  display: flex;
}

.container {
  width: 80%;
  height: 70%;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  margin-top: 60px;
}
.projectWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.project {
  width: 500px;
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
}
.projectImg {
  height: 280px;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnShow {
  width: 150px;
  height: 50px;
  background-color: lightpink;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1252px) {
  .projectWrapper {
    justify-content: center;
  }
}